

/* Start:/bitrix/templates/nd-seamless/styles.css?1602946287650*/
.seamless-box {
	background-color: rgba(75,75,75,.85);
	border-radius: 10px;
	margin-top: 3rem;
	padding: 0 24px 16px;
}

@media (max-width: 1176px) {
	.seamless-box {
    	margin-top: 2rem;
	}
}

@media (max-width: 376px) {
	.seamless-box {
    	margin-top: 1rem;
	}
}

.bread-crumbs, .bread-crumbs a {
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	padding: .9rem 0 0;
}

H1 {
	color: #FFF;
	/*margin-top: .8rem;
	margin-bottom: 0;*/
	/*margin-top: 1.125rem;
	margin-bottom: .975rem;*/
}

p {
	color: #FFF;
}

#bodytext a:link,
#bodytext a:visited,
#bodytext a:hover,
#bodytext a:active {
	color:#3CC4FF;
}
/* End */
/* /bitrix/templates/nd-seamless/styles.css?1602946287650 */
